* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

.header-title {
  font-family: "Playwrite GB J Guides", cursive;
  font-size: 4rem;
  background-color: aliceblue;
  padding: 1rem 3rem;
}

/* Main */