* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header {
  height: 100px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
}

.header-title {
  font-family: "Playwrite GB J Guides", cursive;
  font-size: 4rem;

}

/* Main */

.main-container {
  background-image: url(https://fpettinaroli.it/wp-content/uploads/2025/07/ricette.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
}