* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */

header {
  height: 100px;
  background-color: #FFFFFF;
  display: flex;
  align-items: end;
}

.header-title {
  font-family: "Playwrite GB J Guides", cursive;
  font-size: 4rem;
  color: #290F00;

}

/* Main */

.main-container {
  background-image: url(https://fpettinaroli.it/wp-content/uploads/2025/07/ricette.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
}

/* Recipes List */

.recipes-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
  font-family: 'Story Script', cursive;
}

.recipes-title {
  font-size: 5rem;
  padding-top: 1rem;
  color: #290F00;
}

.recipes-list {
  padding-top: 0.8rem;
}

.recipes-list li {
  padding-bottom: 0.1rem;
}

.recipe {
  font-size: 1.5rem;
  color: #290F00;
}

/* Form */

.input-container {
  margin-top: 0.5rem;
}

input {
  border: 2px solid #290F00;
  color: #290F00;
}

.btn {
  background-color: #290F00;
  color: #FFFFFF;
  padding: 0 0.5rem;
}